@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Flamenco&family=Lily+Script+One&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body{
      background-color: #E6B0CD;
      background: linear-gradient(to right top, #eeaeca, #94bbe9);
    font-family: 'Lily Script One', cursive;
    letter-spacing: 2px;
  }

  .wrapper{
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
      width: 100vw;
      margin: 40px 15px;
      justify-content: center;
  }

  .wrapper h2{
      font-size: 45px;
      text-transform: uppercase;
      font-weight: bolder;
      padding: 0 10px;
      text-align: center;
      font-family: 'Flamenco', cursive;
      align-items: center;
  }

  form{
           padding: 55px 15px;
        display: flex;
    flex-direction: column;
    align-items: center;
 
    width: 60vw;
    margin: 40px 15px;



    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 5.0px );
-webkit-backdrop-filter: blur( 5.0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );

}

h4{
    margin: 25px 0;
    align-items: center;
        text-align: center;
        display: block;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 25px;
        text-decoration: underline;
}

input{
    background-color: transparent;
}

.input-group {
    display: block;
    width: 100%;
    padding: 0 20px;
    flex-wrap: wrap;
}

label{
    margin-left: 10px;
}

.input-box {
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
     padding: 0 20px;
}

.input-group:nth-child(2){
    display: block;
    flex-direction: column !important;
    width: 100%;
    padding: 0 20px;
    flex-wrap: wrap;
}

.input-group:nth-child(4) .input-box {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
     padding: 0 20px;
}

input[type=radio]{
  display: inline-flex;
  margin-top: 10px;
  margin-left: 25px;
  padding: 20px;
}


/* Input Group 3  Gender */

.input-group:nth-of-type(3) .input-box:nth-child(1), .input-group:nth-of-type(3) .input-box:nth-child(1) label {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
     align-items: center;
     padding: 10px 20px;
     margin: 0;
}



/* Payment Row */

.input-group:nth-of-type(4) .input-box:nth-child(1){
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
     align-items: center;
     padding: 10px 20px;
     margin: 0;
}


input[type=text]{
    width: 95%;
    padding: 12px 8px;
    margin: 10px 0;
    border: 0;
    border-bottom: 2px solid rgba(0,0,0,0.3);
}

input[type=tel]{
    width: 95%;
    padding: 12px 8px;
    margin: 10px 0;
    border: 0;
    border-bottom: 2px solid rgba(0,0,0,0.3);
}

input[type=email]{
    width: 95%;
    padding: 12px 8px;
    margin: 10px 0;
    border: 0;
    border-bottom: 2px solid rgba(0,0,0,0.3);
}

select{
    width: 100%;
    padding: 12px 8px;
    margin: 10px 0;
    border: 0;
    background-color: transparent;
    border-bottom: 2px solid rgba(0,0,0,0.3);
}

input::placeholder{
    font-family: 'Flamenco', cursive;
    font-weight: bold;
    letter-spacing: 2px;
    color: #444;
    font-size: 16px;
    text-transform: lowercase;
}

option, select{
    font-family: 'Flamenco', cursive;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 16px;
    text-transform: lowercase;
    outline: none;
}

button{
    width: 50%;
    padding: 12px 8px;
    cursor: pointer;
    color: #333;
    background-color: #A8B8E2;
    align-items: center;
    align-self: center;
    justify-content: center;
    font-family: 'Lily Script One', cursive;
    margin: 20px auto;
    font-size: 24px;
    outline: none;
    border: 1px solid #A8B8E2;
}

button:hover{
    background-color: #E6B0CD;
    color: black;
}

input[type=radio], input[type=radio] label{
    text-align: center;
    align-items: center;
    align-content: center;
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    margin-bottom: 15px;
}

input{
    outline: none;
}

.fa{
    margin-left: 10px;
   }

 .input-group:nth-child(4) .input-box{
     display: flex;   
    align-items: center;
      justify-content: center; 
      text-align: center; 
      width: 100%;
      padding: 0 !important;
    
  } 

   .input-group:nth-child(5) .input-box{
    display: flex;   
    align-items: center;
      justify-content: center; 
      text-align: center; 
      width: 100%;
      padding: 0 !important;
}  

